body{
    padding:0;
    overflow:hidden;
}
.container{
    font-family:monospace;
    font-size:20px;
    width:100%;
}
.container td{
    vertical-align:top;
}
.rank_container{
    position:relative;
    background-color:black;
    height:95vh;
    overflow-y:scroll;
    background-color:#300;
}
.rank_container::-webkit-scrollbar {
    width: 1em;
}

.rank_container::-webkit-scrollbar-track {
    background-color:black;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

.rank_container::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
.operation_container{
    color:#ddd;
    overflow-y:scroll;
    height:95vh;
}
.operation_container::-webkit-scrollbar {
    width: 1em;
}

.operation_container::-webkit-scrollbar-track {
    background-color:black;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

.operation_container::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
.game_container{
    position:relative;
    width:800px;
    background-color:rgb(20,40,40);
    color:#ddd;
}
.title{
    font-size:15px;
    color:white;
    white-space:pre;
}
.stack_button, .queue_button{
    user-select:none;
    cursor:pointer;
}
.stack_button.disabled, .stack_button.disabled:hover{
    cursor:not-allowed;
    background:rgb(20,40,40);
    color:#AAF;
}

.queue_button.disabled, .queue_button.disabled:hover{
    cursor:not-allowed;
    background:rgb(20,40,40);
    color:#AFA;
}
.stack_button:hover{
    background:#AAF;
    color:black;
}
.queue_button:hover{
    background:#AFA;
    color:black;
}
.stack{
    color:#AAF;
    white-space: pre;
}
.queue{
    color:#AFA;
    white-space: pre;
}
.rank > div{
    position:relative;
    color:#999;
    background-color:darkred;
    white-space:pre;
    height:30px;
    width:100%;
}
.rank>.self_rank{
    color:#FF4;
}
.rank > .sent{
    background-color:#300;
}
.score{
    position:absolute;
    right:0em;
}
.current_operation{
    background-color:yellow;
    color:black;
}
